name: painamnae

services:
  db:
    image: postgres:15-alpine
    container_name: painamnae-db
    restart: always
    ports:
      - "5432:5432"
    env_file:
      - ./backend/.env
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-myuser}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-mypassword}
      POSTGRES_DB: ${POSTGRES_DB:-painamnae_db}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-myuser} -d ${POSTGRES_DB:-painamnae_db}"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    container_name: painamnae-backend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - ./backend/.env
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER:-myuser}:${POSTGRES_PASSWORD:-mypassword}@db:5432/${POSTGRES_DB:-painamnae_db}?schema=public
      PRISMA_CLI_QUERY_ENGINE_TYPE: library
      PRISMA_CLIENT_ENGINE_TYPE: library
      FRONTEND_URL: http://localhost:3001

    command: sh -c "npx prisma migrate deploy && npm run start"

  frontend:
    build: ./frontend
    container_name: painamnae-frontend
    restart: always
    ports:
      - "3001:3000"
    depends_on:
      - backend
    env_file:
      - ./frontend/.env
    environment:
      NUXT_PUBLIC_API_BASE: http://localhost:3000/api

  sonarqube:
      image: sonarqube:lts-community
      container_name: painamnae-sonarqube
      restart: always
      ports:
        - "9000:9000"
      environment:
        - SONAR_JDBC_URL=jdbc:postgresql://db:5432/sonar
        - SONAR_JDBC_USERNAME=${POSTGRES_USER:-myuser}
        - SONAR_JDBC_PASSWORD=${POSTGRES_PASSWORD:-mypassword}
      volumes:
        - sonar_data:/opt/sonarqube/data
        - sonar_extensions:/opt/sonarqube/extensions
        - sonar_logs:/opt/sonarqube/logs
      depends_on:
        - db
      
volumes:
  pgdata:
  sonar_data:
  sonar_extensions:
  sonar_logs: